# ===== Python =====
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ===== Virtual Environment =====
venv/
.env

# ===== IDE / Editor =====
.vscode/
.idea/
*.swp

# ===== OS Files =====
Thumbs.db
.DS_Store

# ===== Logs =====
*.log

# ===== Jupyter =====
.ipynb_checkpoints/

# ===== Build / Dist =====
build/
dist/
*.egg-info/
